*body {
    font-family: Arial, sans-serif;
    background-color: #eaeaeb; 
    margin: 30; 
    padding: 20px; 
}


/* Mengatur gaya untuk kartu */
.card {
    border: 1px solid #e9ebec; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #dfe1eb; 
    overflow: hidden; 
}

.card-img-top {
    border-bottom: 1px solid #ced4da; 
}

.card-body {
    padding: 20px; 
}

.card-title {
    font-size: 1.5rem; 
    margin-bottom: 15px; 
}

.card-text {
    margin-bottom: 20px;
}